/* Styles for the Advanced Markup assignment. */

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**********************
GENERAL
**********************/

body {
	color: #36353A;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #36353A;
	curson: pointer;
}

a:visited {
	color: #36353A;
}

.btn {
	padding: 8px 16px;
	background: rgba(54, 53, 58, .8);
	border-radius: 30px;
}

.btn:hover {
	background: rgb(54, 53, 58);
	cursor: pointer;
}
/**********************
WRAPPER
**********************/

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #EFEAD6;
}


/**********************
NAVIGATION
**********************/

.nav-item, .nav-item a {
	display: inline;
	text-decoration: none;
}

.nav-bar {
	height: 90px;
	max-width: 100%;
	background: #fff;
	padding: 25px 10px;
	background: #D4B889;
}

.top-nav {
	border-bottom: 3px solid #36353A;
}

.top-nav-list {
	margin: 8px 0 0 0;
}
nav {
	float: right;
}

.page-title {
	float: left;
}

.nav-item a{
	color: #EFEAD6;
}
/**********************
SIDEBAR
**********************/

.sidebar {
	float: right;
	width: 25%;
}

/**********************
PHOTO
**********************/

.poe-photo {
	float: left;
	width: 257px;

	box-shadow: 3px 3px 3px #ccc;
	margin: 0 5px 3px 0;
}

/**********************
CONTENT
**********************/

.content {
	width: 75%;
}

.poem {
	list-style: none;
}


/**********************
TABLE
**********************/

.selected-works td, .selected-works tr, .selected-works th {
	border: 1px solid black;
	padding: 2px;
	text-align: left;
} 

table.selected-works {
	border-collapse: collapse;
	border: 1px solid black;
}
